{% extends 'commons/layouts/base.html'%}

{% block title %}
Create student
{% endblock%}
{% block content %}
{% include 'classbased/includes/nav.html' %}

<div class="container">
    <form method = "post">
        {% csrf_token %}
        <div class = "form-group" style ="width: 50%">
          {{form}}
        </div>
        <br>
        <button type = 'submit' class="btn btn-success"> Submit</button>
        <a href="3" class = "btn btn-primary">Cancel</a>
      </form>
</div>
    


{% endblock %}